{
    "QDRANT_URL_M": "YOUR_CLUSTER_M_URL_HERE",
    "QDRANT_API_KEY_M": "YOUR_READ_ONLY_KEY_HERE",
    
    "QDRANT_URL_F": "YOUR_CLUSTER_F_URL_HERE",
    "QDRANT_API_KEY_F": "YOUR_READ_ONLY_KEY_HERE",
    
    "QDRANT_URL": "YOUR_MAIN_CLUSTER_URL_HERE",
    "QDRANT_API_KEY": "YOUR_READ_ONLY_KEY_HERE",
    
    "QDRANT_URL_D": "YOUR_CLUSTER_DOCLING_URL_HERE",
    "QDRANT_API_KEY_D": "YOUR_READ_ONLY_KEY_HERE",
    
    "QDRANT_NEW_URL": "YOUR_AUTOML_MASTER_URL_HERE",
    "QDRANT_NEW_API_KEY": "YOUR_READ_ONLY_KEY_HERE"
}
